<h1>Chef</h1>
<% if notice %>
  <div class="notice">
    <%= notice %>
  </div>
<% end %>
<% if !signed_in? %>
  <%= link_to "Sign up", '/signup', {class: "signup"} %>
  <%= form_tag('/user_sessions', class: "login") do %>
    <%= label_tag :email, 'Email' %>
    <%= email_field_tag :email %>

    <%= label_tag :password, 'Password' %>
    <%= password_field_tag :password %>

    <%= submit_tag "Sign in" %>
  <% end %>
<% end %>
